
*{
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: flex-end;
}
ul {
    list-style: none;
    margin-top: 1rem;
    
}

ul li {
    color: black;
    font-size: 15px;
    display: inline-block;
    margin-right: 1rem;
 }

button {
    background-color: rgb(140, 110, 214);
}

i {
    color: grey;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    height: 130px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
}

.blue {
    color: rgb(41, 41, 184);
}

.red {
    color: rgb(212, 25, 25);
}
span {
    display:inline-block;
    margin-right: 0px;
}

.yellow {
    color: orange;
}

.green {
    color: rgb(9, 82, 9);
}

input {
    border: 1px solid grey;
    border-left: transparent;
    border-right: transparent;
    width: 470px;
    height: 2rem;
}

.input {
    display: flex;
    justify-content: center;
}

.search {
    height: 2rem;
    width: 1.5rem;
    border-radius: 10px 0 0 10px;
    border: 1px solid grey;
    border-right: transparent;
}
.fa-search {
    color: grey;
    font-size: small;
    margin-left: 10px;
    margin-top: 8px;
}


.mic {
    height: 2rem;
    width: 1.5rem;
    border-radius: 0px 10px 10px 0;
    border: 1px solid grey;
    border-left: transparent;
}
.fa-microphone {
    color: blue;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 8px;
}

.text {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 13px;
}

.lucky {
    margin-left: 2.5rem;
}

.lang {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 13px;
}

.s {
    margin-left: 0.5rem;
}

.butt1 {
    background-color: rgb(238, 235, 235);
    height: 25px;
    border: transparent;
}

a {
    text-decoration: none;
}

.foot {
    margin-top: 230px;
    height: 40px;
    background-color: rgb(238, 235, 235);
    border: 1px solid grey;
     border-top: transparent; 
    border-left: transparent;
    border-right: transparent;
}
p {
    margin-left: 20px;
    font-size: 14px;
    color: grey;
}

.foot1 {
    display: flex;
    flex-direction: row;
    height: 40px;
    background-color: rgb(238, 235, 235);
    border: 1px solid grey;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}

.foot1 div {
    width: 50%;
}

.a {
 margin-left: 1.2rem; 
 font-size: 14px;
 color: grey; 
 margin-top: 8px;
}

.fa-leaf {
    color: green;
}

.ab {
    justify-content: center;
    align-content: flex-end;
    font-size: 14px;
    color: grey; 
    margin-top: 8px;
    padding-left: 10rem;
}

.abc {
    justify-content: flex-end;
padding-left: 20rem;
}
